:root{
    --primary-color:#ffc87a;
    --text-color:#1a2b5f;
}
html{
    font-size: 62,5%;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
*,*::before,*::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.header{
    padding-top: 4rem;
}
.header__logo{
    font-size: 3rem;
    font-weight: 600;
    color: var(--primary-color);
}
.header__logo span {
    color: var(--text-color);
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu-list{
    display: flex;
}
.header__menu-item{
    margin-right: 50px;
}
.header__menu-link{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__icon-down{
    font-size: 1rem;
}
.header__login{
    margin-left: 30px;
}
.header__login-link{
    border: 1px solid currentColor;
    border-radius: 1.5rem;
    padding: 1rem 2rem;
}
.header__menu-link:hover{
    color: var(--primary-color);
    transition: color .25s linear, border .25s linear;
}
.banner{
    padding-top: 12rem;
    padding-bottom: 180px;
    text-align: center;
    max-width: 50rem;
    margin: 0 auto;
}
.banner__titile{
    font-size: 4rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 50px;
}
.banner__decs{
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: var(--text-color);
    opacity: 0.7;
    margin-bottom: 46px;
    text-align: center;
}
.banner__btn a{
    margin-left: 20px;
}
.btn{
    cursor: pointer;
    outline: none;
    font-size: 16px;
    text-align: center;
    color: var(--text-color);
    padding: 1rem 2rem;
    display: inline-block;
    border: 0;
    background-color: transparent;
}
.btn--border{
    border: 1px solid currentColor;
}
.btn--rounder{
    border-radius: 2rem
}
.btn--primary{
    background-color: var(--primary-color);
}
.has--shadow{
    box-shadow: 0 10px 35px -5px var(--primary-color);
}
.category {
    margin-bottom: 180px;
}
.category__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category__item{
    width: calc(25% - 14px);
    border-radius: 2rem;
    padding: 25px;
}
.category__item--img{
    width: 260px;
    object-fit: cover;
    margin-bottom: 40px;
    border-radius: 2.5rem;
}
.category__item--title{
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.7;
    margin-bottom: 30px;
}
.category__item--link{
    opacity: 0.6;
}
.category--icon{
    margin-left: 10px;
}
.category__item:first-child{
    box-shadow: 0 20px 35px -5px rgba(255, 151, 195, 0.6);
}
.category__item:nth-child(2){
    box-shadow: 0 20px 35px -5px rgba(255, 112, 109, 0.6);
}
.category__item:nth-child(3){
    box-shadow: 0 20px 35px -5px rgba(133, 152, 255, 0.6);
}
.category__item:last-child{
    box-shadow: 0 20px 35px -5px rgba(255, 200, 122, 0.6);
}
.feature__item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 150px;
}
.feature__item:nth-child(even){
    flex-direction: row-reverse;
}
.feature__info{
    padding-top: 90px;
    padding-left: 100px;
}
.feature__info--2{
    padding-left: 0;
    padding-right: 100px;
}
.feature__info--title{
    font-size: 3.5rem;
    line-height: 4rem;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 35px;
}
.feature_info--decs{
    font-size: 16px;
    color: var(--text-color);
    opacity: 0.7;
    margin-bottom: 50px;
    line-height: 1.6rem;
}
.feature__intro--list{
    margin-bottom: 36px;
}
.feature__item--link{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    text-decoration: underline;
}
.feature__list--circle{
    position: relative;
}
.feature__circle{
    text-decoration: none;
    padding-left: 30px;
}
.feature__list--circle::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 44%;
    left: 0;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: #ff6adf;  
}
.feature__list--circle:nth-child(2)::before{
    background-color: #92fa3c;
}
.feature__list--circle:nth-child(3)::before{
    background-color: #1ec0f4;
}
.feature__list--circle:last-child::before{
    background-color: #ff899c;
}
.feature__best--icon{
    font-size: 25px;
    margin-bottom: 20px;
    padding: 15px;
    color: #63c3cf;
    background-color: #e4fbfe;
}
.feature__icon--yellow{
    color: #f6c04b;
    background-color: #fef6e5;
}
.feature__icon--purple{
    color: #b582e4;
    background-color: #f9eefc;
}
.feature__icon-green{
    color: #8fcc9b;
    background-color: #ebfbee;
}
.feature__best--title{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 25px;
    margin-bottom: 15px;
}
.feature__best--dec{
    color: var(--text-color);
    line-height: 25px;
    opacity: 0.7;
}
.feature__best__list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.feature__best--item{
    width: calc(50% - 30px);
    margin-bottom: 50px;
}
.text--camp{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}
.partner__container{
    max-width: 820px;
    text-align: center;
}
.partner__title{
    font-size: 35px;
    font-weight: bold;
    color: var(--text-color);
    padding-bottom: 75px;
    margin-bottom: 75px;
    border-bottom: 1px solid currentColor;
}
.partner__list{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 190px;
}
.connect__title{
    font-size: 40px;
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
.connect__dec{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 65px;
}
.connect__dec span {
    color: var(--primary-color);
}
.connect__list{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.connect__item{
    width: calc(25% - 22.5px);
    margin-bottom: 186px;
}
.connect__img{
    width: 100%;
    height: cover;
}
.subscribe__container{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding-bottom: 85px;
    margin-bottom: 56px;
    border-bottom: 2px solid var(--text-color);
}
.subscribe_title{
    font-size: 35px;
    max-width: 600px;
    line-height: 45px;
    font-weight: bold;
    color: var(--text-color);
    margin-right: 100px;
}
.subscribe__form{
    width: 50%;
}
.subscribe__form--input{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f1f6;
    margin-bottom: 40px;
}
.subscribe__input{
    border: 0;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    flex-grow: 1;
    font-family: 'Poppins', sans-serif;
}
.subscribe__btn{
    border: 0;
    cursor: pointer;
    color: var(--text-color);
    outline: none;
    font-weight: 600;
    background-color: transparent;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.subscribe__btn:hover{
    opacity: 0.8;
}
.subscribe__logo--icon{
    color: var(--text-color);
}
.subscribe__logo--link{
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    overflow: hidden;
}
.subscribe__logo--link span{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    transition: transform .5s ease;
}
.subscribe__logo--link span:last-child{
    transform: translateY(100%);
    background-color: #b2adb7;
}
.subscribe__logo--link:hover span:first-child{
    transform: translateY(-100%);
}
.subscribe__logo--link:hover span i{
    color: #fff;
}
.subscribe__logo--link:hover span:last-child{
    transform: translateY(0%);
}
.footer__container{
   display: flex;
   align-items: flex-start;
   margin-bottom: 120px;
}
.footer__item--link{
    display: block;
    font-size: 18px;
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 32px;
}
.footer__item:first-child{
    margin-right: 144px;
}
.footer__item:nth-child(2){
    margin-right: 163px;
}
.footer__item:nth-child(3){
    margin-right: 200px;
}